* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;

  border-radius: 12px;
  background-color: white;
  width: 500px;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.plate img {
  width: 100%;
  display: block;
}

.content ul,
.content ol {
  padding-left: 20px;
  /* color: #444; */
  line-height: 1.5;
}

.pink-background {
  background-color: pink;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
}

.pink-background li,
li {
  gap: 8px;
}

table,
tr,
td {
  border-bottom: 0.5px solid black;
  border-collapse: collapse;
  padding: 10px;
}

hr {
  width: 300px;
}
